### this section is for code notes, not important to the notebook

In [1]:
#import requests, json, datetime, pandas as pd

#unix_date_time = (datetime.datetime.today().strftime("%s"))

#response_manchester = requests.get("http://api.openweathermap.org/data/2.5/onecall/timemachine?lat=42.9956&lon=-71.4548&dt="+ unix_date_time +"&appid=fd3ef9b217de69f13fde1bd0325da289")
#processed_responce = response_manchester.json()

#df = pd.DataFrame(processed_responce['hourly'])
#df
#df2 = df[["dt","temp", "humidity", "wind_speed"]].copy()
#df.to_csv(r'/home/anthony/Documents/programing-materals/comp574/WetherApiProject/export_dataframe.csv', index = False, header=True)



#df2

#dict_keys(['lat', 'lon', 'timezone', 'timezone_offset', 'current', 'hourly'])

## This section starts us off (api query and processing) 
* This section loops through 5 dates and gets the hrly temp, humidity and wind_speed for 5 days

* then it process it into a single large dataframe for processing later

In [2]:
'''
The new goal of my project is to: calculate the average temp in manchester over the last 5 days and graph it
'''
# unix time calculator -0> https://www.vultr.com/resources/unix-time-calculator/?convert=date&date_day=27&date_month=10&date_year=2021&date_hour=12&date_minute=00&date_second=00&date_tz_from=UTC&date_tz_to=UTC&date_format=Y-m-d+H%3Ai%3As

import requests, json, datetime, pandas as pd

df_final = pd.DataFrame(columns=['dt', 'temp', 'humidity', 'wind_speed']) # inititalisation of final dataframe
last_5_days = []

for x in range(0,5): # gets current date and time delta in unixtime
    unix_date_time = (datetime.datetime.today() - datetime.timedelta(x)).strftime("%s") 
    last_5_days.append(unix_date_time)

for day in last_5_days: # gets the json from the api, processes it into a df and appends it to the final frame. ownly takes 4 columbs
    response_manchester = requests.get("http://api.openweathermap.org/data/2.5/onecall/timemachine?lat=42.9956&lon=-71.4548&dt="+ day +"&appid=fd3ef9b217de69f13fde1bd0325da289")
    
    processed_responce = response_manchester.json() # gets json
    
    df_raw = pd.DataFrame(processed_responce['hourly']) # json -> df from the "hourly" list
    
    df_processed = df_raw[["dt","temp", "humidity", "wind_speed"]].copy() # cuts df down to what we want ownly
    
    df_final = df_final.append(df_processed) # appends to the final df

## This section checks the df.shape

 * This section just makes shure we have the right number of columbs and rows

 * hould have (119, 4)

In [3]:
df_final.shape

(120, 4)

## this sends df_final to a csv file
* thats it, its just a csv file

In [4]:
df_final.to_csv(r'/home/anthony/Documents/programing-materals/comp574/DataProject/export_dataframe.csv', index = False, header=True)

In [5]:
df_final
#df['A'].transform(add_2)

#datetime.datetime.utcfromtimestamp(posix_time).strftime('%Y-%m-%dT%H:%M:%SZ')

            dt    temp humidity  wind_speed
0   1635984000  276.97       79        0.45
1   1635987600  275.80       84        0.45
2   1635991200  274.67       87        0.45
3   1635994800  273.83       89        1.86
4   1635998400  273.56       90        0.45
..         ...     ...      ...         ...
19  1635706800  289.88       71        0.89
20  1635710400  289.02       74        0.45
21  1635714000  288.02       79        0.89
22  1635717600  287.14       82        0.89
23  1635721200  286.44       85        0.45

[120 rows x 4 columns]

In [6]:
# get the date and time of the last 5 days, convert to unixtime

#for eatch unix date get the wether for manchester on that day, append that data to the df

# take the average temp